Repository getredash/redash, pull requests merged in 2018-04, with the labels that each got.

#2443 Choropleth: Add fullscreen control
  client/app/visualizations/choropleth/index.js
  client/app/visualizations/map/index.js
  package.json
Labels: UX, Visualizations

#2434 Fix funnel setting page typo
  client/app/visualizations/funnel/funnel-editor.html
Labels: Documentation

#2492 Cohort bug: JS error (value not wrapped with moment instance)
  client/app/visualizations/cohort/index.js
Labels: Bug, Frontend, Visualizations
