Repository getredash/redash, pull requests merged in 2019-06, with the labels that each got.

#3863 Widget menu should not be available on public dashboards
  client/app/components/dashboards/DashboardGrid.jsx
  client/app/pages/dashboards/public-dashboard-page.html
Labels: Bug, Feature: Dashboards, Frontend

#3240 Use the debian flavor of the redash/base image
  Dockerfile
Labels: in progress

#3896 Download links in Embed pages don't include the API key
  client/app/components/queries/visualization-embed.js
Labels: Bug, Frontend

#3887 Query Results: querying a column with a dictionary or array fails
  redash/query_runner/query_results.py
  tests/query_runner/test_query_results.py
Labels: Backend, Feature: Query Results Data Source, help wanted

#3882 Plotly legend overlaps plot on small screens
  client/app/visualizations/chart/plotly/utils.js
Labels: Bug, Frontend, Visualizations: Chart

#3884 Force a Choose account step for Google OAuth
  redash/authentication/google_oauth.py
Labels: Backend

#3764 Support regenerating Query API Key
  client/app/components/queries/api-key-dialog.js
  redash/handlers/api.py
  redash/handlers/queries.py
  redash/models/__init__.py
  tests/handlers/test_queries.py
Labels: Backend, Frontend, enhancement

#3840 Custom Map Markers
  client/app/components/color-box.less
  client/app/visualizations/map/index.js
  client/app/visualizations/map/map-editor.html
  package.json
Labels: Frontend, Visualizations: Map

#3921 Adding widget from query page is broken
  client/app/pages/dashboards/dashboard.js
  client/app/pages/queries/add-to-dashboard.js
  client/app/services/dashboard.js
Labels: Bug, Feature: Dashboards, Frontend

#3939 Toggling Use Dashboard Level Filter cause widgets to show reload spinner forever
  client/app/pages/dashboards/dashboard.js
Labels: Bug, Feature: Dashboards, Frontend

#3944 Explicitly mark default visualization
  client/app/visualizations/chart/index.js
  client/app/visualizations/index.js
Labels: Frontend, Visualizations

#3778 Visualization: details view
  client/app/visualizations/details/DetailsEditor.jsx
  client/app/visualizations/details/DetailsRenderer.jsx
  client/app/visualizations/details/details.less
  client/app/visualizations/details/index.js
Labels: Frontend, Visualizations

#3943 Add option to hide Pivot Table totals
  client/app/visualizations/pivot/Editor.jsx
  client/app/visualizations/pivot/index.js
Labels: Frontend, Visualizations
